@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.community-content {
  margin: 50px auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 200px;
}

.newsletter-cta {
  margin: auto;
  width: 50%;
}

.grid-layout {

  .grid-item {
    align-items: center;
  }
}

@media screen and (max-width: $screen-lg-min) {

  .community-content {
    padding: 0 80px;
  }

  .community-item {
    margin-bottom: 20px;
  }

  .community-item:not(:first-child) {
    margin-left: 20px;
  }

}

@media screen and (max-width: $screen-md-min) {

  .community-content {
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  .community-content-row {
    flex-wrap: wrap;
  }

  .community-item:not(:first-child) {
    margin-left: 0;
  }

}

.module-trial-cta {
  &.module-trial-cta-community {
    padding: 20px 0 0;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;

    @media (max-width: $screen-sm-min) {
      font-size: 30px;
    }
  }

  .btn {
    background-color: #6e49cb;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    padding: 12px 16px;
    margin-top: 10px;
  }
}

.block-quote {
  border-left: 4px solid #52CDB7;
  padding-left: $spacing-unit-xs;
  margin-top: $spacing-unit-sm;
  margin-bottom: $spacing-unit-sm;
  font-weight: 600;

  .quote-subtext {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
  }

  .block-quote-text {
    padding: $spacing-unit-xs 0;
  }
}
